.c-board {
    /*
    width: 480px;
    height: 480px;
    border: 1px solid black;
    */
    /*display: flex;*/ /* inline-block elements respect whitespace EOL characters */
    /*
    flex-wrap: wrap;
    */
    font-family: 'Arial Unicode MS, Tahoma';
    /*margin: 100px auto;*/
    border-top: 1px solid black;
    border-left: 1px solid black;
    float: left;
}

.c-row {
    block-size: 60px;
}

.c-space {
    width: 59px;
    height: 59px;
    display: inline-block;
    font-size: 3.5em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.c-space.black {
    background-color: silver;
}

.c-space.white {
    background-color: white;
}

.c-space .c-piece {

    /*
    height: 60px;
    width: 60px;
    */
    text-align: center;
    display: table; /* FIXME: Why does this fix the layout shift? */
}

.c-space .c-piece[draggable="true"] {
    cursor: move;
}

.c-space.highlighted-move-target {
    background-color: blue !important;
    opacity: 0.5;
    /*
    border: 1px solid black;
    width: 58px;
    height: 58px;
    */
}

.c-space.non-highlighted-move-target {
    opacity: 0.3;
    border: 1px solid black;
    width: 58px;
    height: 58px;
}

.c-black {color:black;}
.c-green {color:green;}
.c-blue {color:blue;}
.c-purple {color:purple;}
.c-orange {color:orange;}
.c-yellow {color:yellow;}
.c-red {color:red;}

footer {clear:both;}