.c-board {
    width: 480px;
    height: 480px;
    border: 1px solid black;
    display: flex; /* inline-block elements respect whitespace EOL characters */
    flex-wrap: wrap;
    font-family: 'Arial Unicode MS, Tahoma';
}

.c-space {
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 4.5em;
}

.c-space.black {
    background-color: silver;
}

.c-space.white {
    background-color: white;
}

.c-space.white-pawn:after {padding-left: 5px; content: '\2659';}
.c-space.white-rook:after {padding-left: 5px; content: '\2656';}
.c-space.white-knight:after {padding-left: 5px; content: '\2658';}
.c-space.white-bishop:after {padding-left: 5px; content: '\2657';}
.c-space.white-queen:after {padding-left: 5px; content: '\2655';}
.c-space.white-king:after {padding-left: 5px; content: '\2654';}

.c-space.black-pawn:after {padding-left: 5px; content: '\265F';}
.c-space.black-rook:after {padding-left: 5px; content: '\265C';}
.c-space.black-knight:after {padding-left: 5px; content: '\265E';}
.c-space.black-bishop:after {padding-left: 5px; content: '\265D';}
.c-space.black-queen:after {padding-left: 5px; content: '\265B';}
.c-space.black-king:after {padding-left: 5px; content: '\265A';}


